<div class="home">
  

  <div class="logo-home">
  <img src="images/LogoGrande.png" alt="">
  </div>

  <div class="home-search">

    <form action="/searchResult" method="GET">

      <div class="input-group ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">&#x1F50D</span>
        </div>
        <input type="text"  class="form-control" placeholder="preciso de..." aria-label="Username" aria-describedby="addon-wrapping">
        
        
      </div>

   
      
                  {{!-- <input type="text" id="searchInput" name="searchInput" />
                
                <button type="submit">
                  Search
                </button> --}}
    </form>
    
    <h5>empreste, economize, faça amigos.</h5>
  </div>
<img id="skyline"src="images/skyline.png" alt="">
</div>

