<form action="/login" method="POST">


    <input type="text" id="userEmail" name="email" placeholder="exemplo@exemplo.com" />

    <input type="password" id="userPassword" name="password" placeholder="Senha" />
  

  <button type="submit">
    Login
  </button>
</form>