<div>
    <a href="/route signup">Sign Up</a>
    <a href="/route login">Login</a>
</div>


<form action="/home" method="GET">

    <input type="text" id="searchInput" name="name" />
  
  <button type="submit">
    Search
  </button>
</form>