<form action="/signup" method="POST">

  
    <input type="text" id="userName" name="userName" placeholder="Nome de Usuário" />

    <input type="text" id="email" name="email" placeholder="exemplo@exemplo.com" />

    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="(99) 9999-9999" />

    <input type="text" id="neighbourhood" name="neighbourhood" placeholder="Bairro" />

    <input type="password" id="password" name="password" placeholder="Senha" />

  <button type="submit">
    Sign Up
  </button>
</form>
