{{#with result}}
<form action="/to-borrow/{{_id}}/update" method="POST">
<select class="form-control" id="toBorrowCategory" name="category">
        <option value="ferramentas">Ferramentas</option>
        <option value="livros">Livros</option>
        <option value="jogos">Jogos</option>
    </select>
  <div>
    <input type="text" class="form-control" id="toBorrowName" name="name" value="{{name}}"/>
  </div>
  <div>
    <input type="text" class="form-control" id="toBorrowDescription" name="description"  value="{{description}}" />
  </div>
  <button type="submit" class="btn btn-primary">
    Salvar
  </button>
</form>
{{/with }}
