 /* background color #aec2ff 
    navbar color #F4F5FE 
     */

*{
    padding: 0;
    margin: 0;
    
} 
 
#body {
    background-color:#aec2ff;
}

.home {
    
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

h2 {
    text-align: center;
}

.home-search {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-home{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#skyline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.signup-form {
    margin-bottom: -200px;
}

#create-form{
    margin-bottom: -180px;
}

.card{
    width: 75%;
}

#frase {
    display: flex;
    justify-content: center;
}

#profile-page {
    display: flex
}

#profile{
    display: flex;
    justify-content: center;
   background-color:  #9CAEE5;
    padding: 30px;
    
}

#meus-anuncios{
    display: flex;
    justify-content: space-around;
}